 	<li  > <a class="navbar-brand" href="../admin/adminhome.jsp">Admin</a></li>
     <li  > <a class="navbar-brand" href="../reception/receptionhome.jsp"> Reception</a></li>
     <li  > <a class="navbar-brand" href="../physician/physicianhome.jsp"> Physician</a></li>
     <li  > <a class="navbar-brand" href="../xray/xrayhome.jsp"> X Ray</a></li>
     <li  > <a class="navbar-brand" href="../bloodcollection/bloodcollectionhome.jsp">Blood Collection </a></li>
     <li  > <a class="navbar-brand" href="../labreport/labreport.jsp"> Lab Report</a></li>
     <li  > <a class="navbar-brand" href="../finalreport/finalreport.jsp"> Final Report</a></li>
     
     <li  > <a class="navbar-brand" href="../login/changepassword.jsp"> Change Password</a></li>
     
     <li  > <a class="navbar-brand" href="../login/logout.jsp"> Logout</span></a></li>
  