<div class="btn-group btn-group-justified">
  	 <a href="admin_user.jsp" class="btn btn-primary " > <span class="glyphicon glyphicon-home"></span> Users </a>
  	 <a href="admin_professions.jsp" class="btn btn-warning " > <span class="glyphicon glyphicon-home"></span> Professions </a>
  	 <a href="admin_agencies.jsp" class="btn btn-info "><span class="glyphicon glyphicon-briefcase"></span> Agencies</a>
<!--       <a href="admin_company.jsp" class="btn btn-success "><span class="glyphicon glyphicon-briefcase"></span> Company</a>
-->
</div>	