<div class="btn-group btn-group-justified">
  	 <a href="receptionhome.jsp" class="btn btn-primary " > <span class="glyphicon glyphicon-home"></span> Home </a>
  	 <a href="profile.jsp" class="btn btn-warning " > <span class="glyphicon glyphicon-home"></span> Profile </a>
  	 <a href="receptiontest.jsp" class="btn btn-info "><span class="glyphicon glyphicon-briefcase"></span> Tests</a>
     <a href="repeattest.jsp" class="btn btn-success "><span class="glyphicon glyphicon-briefcase"></span> Repeat Tests</a>
     <a href="dailyreport.jsp" class="btn btn-primary "><span class="glyphicon glyphicon-briefcase"></span> Reports</a>
</div>	